/* Variables */
@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
/* Default monospace fonts for `<code>`, `<kbd>`, and `<pre>` */
@font-family-base:        @font-family-sans-serif;

@background-color: white;
/* Global styles */

html, body {
  width: 100%;
  font-family: @font-family-base;
  background-color: @background-color;
  color: #333333;
}

body {
  padding: 20px;
  margin-bottom: 40px;
}

header {
  h1 {
    margin-top: 0px;
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
  }

  h2 {
    font-weight: 600;
    margin-top: 15px;
    font-size: 24px;
    line-height: 30px;
  }

  @media only screen and (max-width : 600px) {
    h1 {
      font-size: 24px;
      line-height: 30px;   
    }
    h2 {
      font-size: 20px;
      line-height: 22px;
    }
  } 
}

.masonry {
  .item {
    width: 500px;
    margin-top: 20px;
    .author {
      font-weight: 700;
    }

    @media only screen and (max-width : 600px) {
      width: 100%;
    }
  }
}
