<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      ng-app="ibkg">

  <head>
    <title>KG &lt;3 IB</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>

    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <!-- compiled CSS --><% styles.forEach(function (file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- Facebook Open Graph tags -->
   <meta property="og:type"   content="website" /> 
   <meta property="og:url"    content="" /> 
   <meta property="og:title"  content="" /> 
   <meta property="og:description"  content="" /> 
   <meta property="og:image" content=""/>
  </head>
  <body ng-controller="MainCtrl">
    <header>
      <h1>Why keep the IB in Kungsholmens Gymnasium?</h1>
      <h2>Here are {{total_items()}} reasons, via <a href="https://www.change.org/p/jan-holmquist-keep-the-ib-in-kungsholmen">Change.org</a></h2>
    </header>
    <div class="masonry" masonry="{gutter: 40}" ng-repeat="page in pages">
      <div class="masonry-brick item" ng-repeat="item in page">
        <p class="content">{{item.content}}</p>
        <p class="author">{{item.author_name}}</p>
      </div>
    </div>
  </body>
</html>
